@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #111;
  color: #fff;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  .mobile {
    position: relative;
    border-radius: 50px;
    width: 390px;
    height: 700px;
    background: url("https://i.pinimg.com/564x/3d/8c/2f/3d8c2f2c82c1c9ef1e27be645cd1aa17.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .dark-mode-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
    }

    .user_info {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;
      background-color: #333;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      height: 60px;

      .left button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        color: rgb(63, 255, 63);
        font-size: 17px;
      }

      .middle {
        color: white;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 13px;
          color: rgb(0, 255, 0);
          text-align: center;
        }
      }

      .right img {
        width: 50px;
        border-radius: 50%;
      }
    }

    .navbar {
      background-color: #333;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 10px 10px;
      padding-top: 25px;
      height: 100px;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom: 1px solid #333;

      input {
        width: 80%;
        background-color: rgb(27, 27, 27);
        border: none;
        border-radius: 20px;
        height: 20px;
        text-align: center;
        color: white;
        padding: 13px 0;
      }

      &__chats {
        display: flex;
        justify-content: space-between;
        width: 90%;
        color: white;

        i {
          font-size: 17px;
          color: rgb(74, 255, 74);
          cursor: pointer;
        }

        button {
          background-color: rgba(255, 255, 255, 0);
          border: none;
          color: rgb(63, 255, 63);
          font-size: 17px;
        }
      }
    }

    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3a3a3a9f;
      border-radius: 0 0 50px 50px;
      height: 60px;
      display: none;

      input {
        background-color: #fff;
        border: none;
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 20px;
        outline: none;
        height: 30px;
        width: 70%;
        color: #000;
        margin-right: 10px;
      }

      button {
        background-color: #0088cc;
        color: #fff;
        height: 30px;
        width: 50px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #007ab8;
        }
      }
    }

    .msg__container {
      display: none;
      overflow: auto;
      scroll-behavior: smooth;
      width: 100%;
      height: 580px;
      padding: 10px;

      &::-webkit-scrollbar {
        width: 0px;
      }

      .msg {
        background: hsl(184, 100%, 74%);
        color: white;
        width: 250px;
        border-radius: 20px 20px 20px 0;
        margin-left: 20px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: auto;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease;

        .msg_sen {
          font-size: 17px;
          font-weight: 500;
        }

        span {
          display: inline;
          text-align: right;
          color: rgb(255, 255, 255);
          font-weight: 400;
          font-size: 14px;
        }
      }

      .msg.me {
        background-color: #2cff3e;
        margin-left: 100px;
        border-radius: 20px 20px 0 20px;
      }
    }

    .user {
      padding: 10px 10px;
      height: 90px;
      background-color: #2cff3e38;
      display: flex;
      align-items: center;
      border: 2px solid rgba(128, 128, 128, 0.541);
      border-left: none;
      border-top: none;
      border-right: none;
      cursor: pointer;

      .profile img {
        width: 70px;
        border-radius: 50%;
      }

      .name {
        color: white;
        margin-left: 20px;

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
